@font-face {
    font-family: 'MainFont';
    src: url(./main-font.otf) format('opentype');
    font-weight: 600;
}

body,html{
    margin: 0;
    padding: 0;
}


header{
    padding: 0rem;
    margin: 0;
    background-color: rgb(0, 102, 255);
}

.logo{
    display: inline;
    width: calc(1.2rem + 10vw);
    height: calc(1.2rem + 10vw);
    background: url('./icon.png');
    background-size: cover;
    background-position: center;
}


.logo-banner{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: radial-gradient(circle, rgb(19, 188, 255) 0%, rgb(0, 102, 255) 64%);
}

h1{
    position: relative;
    top: calc(calc(1rem + 12vw) * 0.06);
    line-height: calc(1rem + 12vw);
    display: inline;
    font-family: 'MainFont';
    text-align: center;
    color: white;
    margin: 0;
    font-size:calc(0.5rem + 5vw);
}



nav{
    display: flex;
    width: 100%;
}

.nav-button .icon{
    background-repeat: no-repeat;
    position: relative;
    filter: invert(16%) sepia(26%) saturate(5526%) hue-rotate(202deg) brightness(100%) contrast(109%);
    height: calc(2rem + 2vw);
    width: calc(2rem + 2vw);
}

.home-button .icon{
    background-image :url(./home.svg);
    bottom: calc(calc(2rem + 2vw) * 0.07);
}

.about-button .icon{
    background-image :url(./information.svg);
    bottom: calc(calc(2rem + 2vw) * 0.1);
}

.menu-button .icon{
    background-image :url(./food.svg);
    bottom: calc(calc(2rem + 2vw) * 0.14);
}



.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(0, 50, 124);
    background-color: #fffb16;
    font-family: 'MainFont';
    font-size: calc(2rem + 2vw);
    padding: 1rem;
    border: none;
    width: 100%;
    transition-duration: 0.3s;
}

.nav-button:hover{
    background-color: #dfdc45;
    letter-spacing: 0.2rem;
}

.nav-button.selected{
    background-color: #86e7ff;
}

@media (max-width: 600px) {
.button-text{
    display: none;
    font-size: 0;
    color: white;
}
}
