@font-face {
    font-family: 'MainFont';
    src: url(./main-font.otf) format('opentype');
    font-weight: 600;
}

body,html{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 102, 255);
    background: radial-gradient(circle, rgb(19, 188, 255) 0%, rgb(0, 102, 255) 64%);
}


header{
    padding: 0rem;
    margin: 0;
    background-color: rgb(0, 102, 255);
    
}

.logo{
    display: inline;
    width: calc(1.2rem + 10vw);
    height: calc(1.2rem + 10vw);
    background: url('./icon.png');
    background-size: cover;
    background-position: center;
    transition-duration: 0.3s;
}

.logo:hover{
    scale: 1.1;
    transform: rotate(15deg);
}


.logo-banner{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: radial-gradient(circle, rgb(19, 188, 255) 0%, rgb(0, 102, 255) 64%);
}

h1{
    position: relative;
    top: calc(calc(1rem + 12vw) * 0.06);
    line-height: calc(1rem + 12vw);
    display: inline;
    font-family: 'MainFont';
    text-align: center;
    color: white;
    margin: 0;
    font-size:calc(0.5rem + 10vw);
}

h2{
    width: min(700px, 100%);
    text-align: center;
    font-family: 'MainFont';
    color: #ffffff;
    font-size: calc(2.2rem + 3vw);
}

.section{
    gap: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    position:sticky;
    display: flex;
    width: 100%;
}

.nav-button .icon{
    background-repeat: no-repeat;
    position: relative;
    filter: invert(16%) sepia(26%) saturate(5526%) hue-rotate(202deg) brightness(100%) contrast(109%);
    height: calc(2rem + 2vw);
    width: calc(2rem + 2vw);
}

.home-button .icon{
    background-image :url(./home.svg);
    bottom: calc(calc(2rem + 2vw) * 0.07);
}

.about-button .icon{
    background-image :url(./information.svg);
    bottom: calc(calc(2rem + 2vw) * 0.1);
}

.menu-button .icon{
    background-image :url(./food.svg);
    bottom: calc(calc(2rem + 2vw) * 0.14);
}

.body{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10vmin;
}

.location-img{
    box-shadow: 0px 0px 129px 40px rgba(0,0,0,0.52);
    background-image: url("location.jpg");
    background-position: center;
    width: min(900px, 100%);
    height: 500px;
    background-size: cover;
    
}

.chef-img{
    box-shadow: 0px 0px 129px 40px rgba(0,0,0,0.52);
    background-image: url("chef.jpg");
    background-position: center;
    width: min(900px, 100%);
    background-position: center 0;
    height: 700px;
    background-size: cover;
    
}

.bus-img{
    box-shadow: 0px 0px 129px 40px rgba(0,0,0,0.52);
    background-image: url("bus.jpg");
    background-position: center;
    width: min(900px, 100%);
    height: 500px;
    background-size: cover;
    
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(0, 50, 124);
    background-color: #fffb16;
    font-family: 'MainFont';
    font-size: calc(2rem + 2vw);
    padding: 1rem;
    border: none;
    width: 100%;
    transition-duration: 0.3s;
}

.nav-button:hover{
    background-color: #dfdc45;
    letter-spacing: 0.2rem;
}

.nav-button.selected{
    background-color: rgb(75, 204, 255);;
}

footer{
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(0, 50, 124);
    font-family: 'MainFont';
    font-size: calc(1rem + 0.2vw);;
    background-color: #fffb16;
    padding: 1rem;
}

a{
    background-color: rgba(0, 50, 124, 0);
    text-decoration: none;
    color: rgb(81, 150, 255);
    transition: 0.2s;
}


a:hover{
    padding: 15px 15px 10px 15px;
    letter-spacing: 0.1vw;
    color: #fffb16;
    background-color: rgba(0, 50, 124, 1);
}


@media (max-width: 1000px) {

.section{
    flex-direction: column;
}

.section.reverse{
    flex-direction: column-reverse;
}

.location-img{
    height: calc(300px + 30vmin);
}

.bus-img{
    height: calc(200px + 20vmin);
}

.chef-img{
    height: calc(500px + 0vmin);
}
.button-text{
    display: none;
    font-size: 0;
    color: white;
}
}
